/* HOVER TEXT */
      
      /* Base [non-hover] */
      .highlight-on-hover {
        text-decoration: none;
        color: inherit;
        /*transition: color 0.15s ease-in, text-shadow 0.15s ease-in;*/
      }

      .highlight-on-hover.no-hover {
        transition: color 2.0s ease-out, text-shadow 2.0s ease-out;
      }

      /*.highlight-on-hover:hover,
      .highlight-on-hover.mobile-highlighted {
        text-decoration: underline;
      }*/

      /* HOVER COLORS */
      .guestbook-hover { --hover-color: yellow; }
      .one-hover { --hover-color: rgb(255, 0, 0); }
      .two-hover { --hover-color: rgb(255, 0, 191); }
      .thr-hover { --hover-color: rgb(140, 0, 255); }
      .fou-hover { --hover-color: rgb(0, 110, 255); }
      .fiv-hover { --hover-color: rgb(0, 255, 136); }
      .six-hover { --hover-color: rgb(136, 255, 0); }

      /* VAR APPLIED TO TEXT*/
      .highlight-on-hover:hover,
      .highlight-on-hover.mobile-highlighted {
      color: var(--hover-color);
      text-shadow: 0 0 8px var(--hover-color);
      }
  